@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
header,
footer,
.hero {
    background-color: #1f2937;
}
.quote {
    background-color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    /* margin-right: auto; */
}
.navbar {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
    padding-bottom: 10%;
}
ul {
    display: flex;
    gap: 15px;
}
li {
    list-style-type: none;
}
a,p
 {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    position: relative;
}
.quotewords {
    font-size: 24px; 
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    padding: 100px 150px 50px;
}
.hero {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 5%;
}
.heroimg {
    width: 500px;
    height: 300px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 25px;
    margin-right: 10%;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    position: relative;
}
h1, p {
    margin: 0;
    padding: 0;
}
span {
    color:#e5e7eb;
    font-size: 14px;
    padding-top: 14px;
}
button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 900;
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    flex-shrink: 0;
    margin-top: 15px;
}
.herowords {
    margin-left: 10%;
    padding-bottom: 2rem;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.information {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
}
.imginfo,
.text {
    width: 200px;
    height: 250px;
    margin: 10px 15px;
}
.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}